@charset "UTF-8";
/* CSS Document */

/*Remove this rule, this is only for demo purposes to make the boxes black with white text
The line height on the <p> tag gives each box a height value*/

p
{
	color: #fff;
	line-height: 100px;
	background: #000;
	text-align: center;
	margin: 0;
}

/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, Raleway, sans-serif;
	font-size: 12px;
}


/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited 
{ 
 	text-decoration:none; 	
}

a:hover, a:active 
{ 
	text-decoration:none; 
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*section is block level and no width specidied therefore stretches full screen*/
#topBar
{
	background-color: #254e7b;
	height: 20px;
}

/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 920px;
	padding-left: 20px;
	padding-right: 20px;
}

/*This is a flex container*/
#mainHeader
{
	margin-top: 40px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 2px #254e7b;
}

/*This is a flex item*/
#logo
{
	width: 175px;
	margin-top: 5px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav 
{
	margin-left: auto;
	width: 500px;
	flex-direction:left;
	justify-content:left;
	height: 25px;
	margin-top: 50px;
	margin-left: auto;
}

#promo 
{
	margin-top: 40px;
	border-bottom: solid 2px #254e7b;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

#promoImage 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#promoText 
{
	width: 600px;
}


#productInfo 
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 2px #254e7b;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height to productInfo*/
#productInfo p 
{
	line-height: 300px;
}

.productDesc 
{
	width: 200px;
}

#mainFooter 
{
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start; 
}

#footerNav 
{
	font-size: 5px;
	width: 500px;
}

#copyRight 
{
	margin-left: auto;
	width: 310px;
}

/*Page 2 - Notice we are using one style sheet for all of the pages*/

#contentCon {
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#contentCon p 
{
	line-height: 630px;
}

#content1 
{
	width: 440px;
}

#content2 
{
	margin-left: auto;
	width: 440px;
}

/*Page 3*/

#productImages 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}

/*Get rid of this, here just to give different height*/
#productImages p
{
	line-height: 250px;
}

.productImg 
{
	width: 280px;
}


#contentAreaBig
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height*/
#contentAreaBig p 
{
	line-height: 300px;
}

#promoImageBig
{
	width: 920px;
}


/*Page 4*/

.productDescLargeLeft 
{
	width: 410px;
}

.productDescLargeRight 
{
	width: 410px;
}

/* My CSS */

.button {
  color:#254e7b;
  padding: 5px 10px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  text-decoration:none;
  font-family: 'Raleway', sans-serif;
}
.button:hover{
	color:#85c1e5;
}

#title{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-family: 'Raleway', sans-serif;
}
.titleIndex{

	width: 920px;
}

.title h2 {
	color: #fff;
	font-size: 31px;
	letter-spacing: -1px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.title h3 {
	font-size: 14px;
	color: #fff;
	text-align: center;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
}
.selected{
	padding: 5px 0px 5px 0px;
	background-color: #85c1e5; 
}